{% extends 'transport/base.html' %}
{% load static %}

{% block title %}Modifier un Transport{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'transport/css/transport.css' %}">
<div class="container">
    <h1>Modifier le Transport: {{ transport.name }}</h1>
    
    <form action="{% url 'transport:edit_transport' transport.id %}" method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Affiche le formulaire -->
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Modifier</button>
            <a href={% url 'accounts:admin_dashboard' %} class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}